footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-block: 16px;
  font: 14px/150% var(--font-family);
}

footer .terms {
  display: flex;
  gap: 24px;
}

@media (width >= 1280px) {
  footer {
    flex-direction: row;

    & .brand {
      margin-right: auto;
    }
  }
}
