header {
  padding: 32px;
  font: var(--text-md);
}

header .container {
  display: flex;
  flex-direction: column;
}

#profile {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

#profile > div {
  max-width: 384px;
}

#profile img {
  object-fit: cover;

  width: 120px;
  height: 120px;
  border-radius: 50%;
}

#profile h1 {
  margin-bottom: 8px;

  font: var(--text-lg);
  font-size: 1.5rem;
  color: var(--text-color-primary);
}

#info {
  display: flex;
  flex-direction: column;

  width: 280px;
  gap: 16px;
  margin-top: 32px;

  list-style: none;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width >= 1280px) {
  header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #profile {
    flex-direction: row;
    gap: 32px;

    & h1 {
      font: var(--text-lg);
    }

    & img {
      width: 176px;
      height: 176px;
    }
  }
}
